body {
  background-color: #12cad6;
}

#profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
}

#pftLogo {
  width: 300px;
  height: 300px;
  border-color: black;
  border-style: solid;
}

#sushareLogo {
  width: 300px;
  height: 300px;
  border-color: black;
  border-style: solid;
}

#artvelLogo {
  width: 300px;
  height: 300px;
  border-color: black;
  border-style: solid;
}

.GitHubSection {
  display: flex;
  width: 100%;
  margin: auto;
}
